<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
 <% if resource.image.attached? %>
        <div>
          <%= image_tag resource.image, :alt => 'profile photo', :width => 200, :height => 200 %>
        </div>
       <% end %>

  <%= f.label :image %>
  <%= f.file_field :image %>

  <div class="field"> 
    <%= f.label :username %>
    <%= f.text_field :username, :value => resource.username %>
  </div>

  <div class="field"> 
    <%= f.label :city %>
    <%= f.text_field :city, :value => resource.city %>
  </div>

  <div class="field"> 
    <%= f.label :sexuality %>
    <%= f.select :sexuality, [["Asexual", "A"], ["Pansexual", "Pa"], ["Bisexual", "Bi"]], selected: "Bi", :value => resource.sexuality %>
  </div>

  <div class="field"> 
    <%= f.label :gender %>
    <%= f.text_field :gender, :value => resource.gender %>
  </div>

  <div class="field">
    <%= f.label :age %>
    <%= f.text_field :age, :value => resource.age %>
  </div>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h2> Your images </h2>
  <% resource.images.each do |image| %>
    <%= image_tag image.photo, :width => 200, :height => 200 %>
  <% end %>

Link to <%= link_to "Your images", images_path %>

 <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>

