<div class="bg-blue mx-auto max-w-md text-white py-12 px-12">

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

      <div class="mt-4 mx-auto">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'block mx-auto w-full text-black', placeholder: "Your Email" %>
      </div>

      <div class="mt-4 mx-auto">
        <%= f.password_field :password, autocomplete: "new-password", class: 'block mx-auto w-full text-black', placeholder: "Your Password"  %>
      </div>

      <div class="mt-4 mx-auto">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'block mx-auto w-full text-black', placeholder: "Repeat Your Password" %>
      </div>

      <%= render(ButtonComponent.new(type: :primary)) do %>
        <%= f.submit "Sign up", class: 'cursor-pointer' %>
      <% end %>
  <% end %>
  <div class="text-center"> 
    <%= render "devise/shared/links" %>
  </div>
</div>


