 <%= render(LayoutComponent.new(type: :full_width)) do %>
    <nav class="fixed top-0 left-0 right-0 py-4 px-12">
        <ul class="flex">
            <li class="mx-4"> Home </li>
            <li class="mx-4">
                <% if user_signed_in? %>
                    <%= link_to 'Users', users_path %>
                <% end %>
            </li>
            <li class="mx-4"> 
                 <% if user_signed_in? %>
                    <%= link_to 'Edit profile', edit_user_registration_path %>
                <% end %>
             </li>
             <li class="mx-4">
                <% if user_signed_in? %>
                    <%= link_to "Logout", destroy_user_session_path, method: :delete  %>
                <% else %>
                    <%= link_to "Sign up", new_user_registration_path  %> |
                    <%= link_to "Login", new_user_session_path  %>
                <% end %>
             </li>
        </ul>
    </nav>
 <% end %>