<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <%= render "layouts/navbar" %>
 <% if user_signed_in? %>
  <% if current_user.username.empty? || current_user.age.nil? || current_user.gender.empty? || current_user.sexuality.empty? || !current_user.image.attached? %>
    <p> Molimo te da dovrsis svoj profil </p>
    <%= link_to "Update your profile", edit_user_registration_path %>
    <% end %>
 <% end %>
  <%= render(LayoutComponent.new(type: :full_width)) do %>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
  <% end %>
  <%= render "layouts/footer" %>
  </body>
</html>
